//---------------------------------------------------------------------------
// VHidMini2DmfK.rc
//
// Copyright (c) Microsoft Corporation, All Rights Reserved
//---------------------------------------------------------------------------

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SYSTEM
#define VER_FILEDESCRIPTION_STR     "DMF HID Minidriver (VHIDMINI2) Sample (Kernel-mode)"
#define VER_INTERNALNAME_STR        "VHidMini2DmfK.sys"
#define VER_ORIGINALFILENAME_STR    "VHidMini2DmfK.sys"

#include "common.ver"

